<span class="header-cart__iconholder">
    <i class="wp-lemon-icon-cart large" aria-hidden="true"></i>
    <span class="header-cart__circle js-cart-count" data-count="{{ woocommerce.cart.count }}">
        {{ woocommerce.cart.count }}
    </span>
</span>
