# A set of files you probably don't want in your WordPress.org distribution
.editorconfig export-ignore
.git export-ignore
.gitignore export-ignore
.stylelintrc export-ignore
.github export-ignore
phpstan.neon.dist export-ignore
readme.md export-ignore
composer.json export-ignore
composer.lock export-ignore
package.json export-ignore
phpunit.xml.dist export-ignore
.phpcs.xml.dist export-ignore
phpcs.xml.dist export-ignore
webpack.config.js export-ignore
yarn.lock export-ignore
vendor export-ignore
node_modules export-ignore
.prettierrc export-ignore
.gitattributes export-ignore
resources/assets export-ignore
build export-ignore
release-please-config.json export-ignore
.release-please-manifest.json export-ignore