parameters:
    level: 4
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    scanDirectories:
        - ../../themes/wp-lemon/lib
        - ../../themes/wp-lemon/vendor
        - ../woocommerce
        - plugin-update-checker/Puc
        - vendor
    scanFiles:
        - lemon-woo.php
        - plugin-update-checker/load-v5p6.php
    paths:
        - lemon-woo.php
        - src/