.crd--product {
	.crd {
		&__title {
			font-size: 1.25rem !important;
		}

		&__picture {
			img {
				height: 100% !important;
				margin-bottom: 0;
			}
		}
	}

	.price {
		font-size: 1.25rem !important;
		color: var(--base-color) !important;
	}

	.crd__btn {
		position: relative;
		left: auto;
		display: inline-block;
		width: 100%;
		padding: 0.618em 1em;
		margin: 0;
		overflow: visible;
		font-size: 1rem !important;
		font-weight: 700;
		line-height: 1;
		color: var(--lemon-woo-crd-btn-color, white) !important;
		text-align: center;
		text-decoration: none;
		text-shadow: none;
		cursor: pointer;
		background-color: var(--main-color, var(--base-color)) !important;
		background-image: none;
		border: 0;
		border-radius: var(--lemon-woo-crd-btn-radius, 0) !important;
		box-shadow: none;
	}
}

@include media-breakpoint-down(sm) {
	.crd--product {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 40% 60%;

		.crd__picture-link {
			grid-row: 1/3;
		}

		h3.crd__title {
			font-size: 15px !important;
		}

		.crd__picture {
			height: 100%;
		}

		span.price {
			margin-bottom: 0;
			font-size: 15px !important;
		}

		a.crd__btn {
			font-size: 13px !important;
		}
	}
}
